---
layout: default
redirect_from:
  - /architecture.html
  - /effort.html
  - /transshipment.html
  - /anonymized.html
  - /anchorages.html
  - /other.html
  - /fishing.html
  - /fishingeffort/2018/06/12/Connecting-R-to-BigQuery.html
  - /fishingeffort/2018/03/15/over-half-the-ocean.html
  - /earthengine/2018/02/22/our-data-in-earth-engine.html
  - /bigquery/2018/02/22/our-data-in-bigquery.html
  - /ais_coverage/2018/02/22/ais-coverage.html
  - /anchorages/2017/12/03/anchorage-data-blog-post.html
  - /transshipment/2017/08/18/temporal-footprint-transshipment.html
  - /general/2016/12/22/welcome.html
  - /vessel_activity/2016/12/22/New-Vessel-Lists.html
  - /code/2016/12/21/Web-visualization-at-scale.html
  - /vessel%20tracks/2016/11/01/AIS-Data-Example.html
---

<div class="home">

  {% capture introduction %}{% include introduction.md %}{% endcapture %}{{ introduction | markdownify }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} | by {{ post.author | escape }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>

      </li>
    {% endfor %}
  </ul>

<!--   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 -->
</div>
