---
layout: default
---

<div class="home">

  {% capture introduction %}{% include introduction.md %}{% endcapture %}{{ introduction | markdownify }}

<!--  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} | by {{ post.author | escape }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>

      </li>
    {% endfor %}
  </ul> -->

<!--   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 -->
</div>
