<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">


     <!--  <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          
        </ul>
      </div> -->

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="{{ site.contact }}"><img src="{{site.baseurl}}/images/mail.jpg" height="13"> research@globalfishingwatch</a></li>

{% comment %}
<!--  temporary remved until github start using minima version 2.4.1
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
-->
{% endcomment %}
        </ul>
      </div>



      <div class="footer-col footer-col-4">
        <p>{{ site.description | escape }}</p>
      </div>


      <div class="footer-col footer-col-5">
        <p> <img src="{{site.baseurl}}/images/global_fishing_watch.png" height="60"></p>
      </div>





    </div>

  </div>

</footer>
